<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Task</th>
        <th scope="col">Parent</th>
        <th scope="col">Priority</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="tblTask">{{ task.task }}</td>
        <td id="tblParentTask">{{ task.parentTask }}</td>
        <td id="tblPriority">{{ task.priority }}</td>
        <td id="tblStart">{{ task.startDate }}</td>
        <td id="tblEnd">{{ task.endDate }}</td>
        <td ><button (click)="editTask(task)">Edit</button></td>
        <td ><button (click)="completeTask(task)">End Task</button></td>
      </tr>  
    </tbody>
  </table>