<div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="dateValidationFailed">
  <strong>{{errorMessage}}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form-group row">
    <label for="taskName" class="col-sm-2 col-form-label">Task</label>
    <div class="col-sm-10">
      <input 
        type="input" 
        class="form-control" 
        placeholder="Enter task name" 
        [ngModel]="taskName" 
        name="taskName" 
        (blur)="checkDate(f,'taskName')"
        required>
    </div>
  </div>

  <div class="form-group row">
    <label for="priority" class="col-sm-2 col-form-label">Priority</label>
    <div class="col-sm-10">
      <input 
        type="range" 
        class="form-control-range" 
        min="0" 
        max="30" 
        value="15" 
        [ngModel]="priority" 
        name="priority">
    </div>
  </div>
  <div class="form-group row">
    <label for="parentTaskName" class="col-sm-2 col-form-label">Parent Task</label>
    <div class="col-sm-10">
      <select class="form-control" id="parentTaskName" [ngModel]="parentTaskName" name="parentTaskName" required>
        <option value="{{val}}" *ngFor="let val of parentTask">{{val}}</option>
      </select> 
    </div>
  </div>
  <div class="form-group row">
    <label for="startDate" class="col-sm-2 col-form-label">Start Date</label>
    <div class="col-sm-10">
      <input 
        type="date" 
        class="form-control" 
        [ngModel]="taskStartDate | date:'yyyy-MM-dd'" 
        (ngModelChange)="taskStartDate = $event" 
        [ngClass]="validationStatus"
        (blur)="checkDate(f,'taskStartDate')"
        name="taskStartDate" 
        required>
    </div>
  </div>
  <div class="form-group row">
    <label for="endDate" class="col-sm-2 col-form-label">End Date</label>
    <div class="col-sm-10">
      <input 
        type="date" 
        class="form-control" 
        [ngModel]="taskEndDate | date:'yyyy-MM-dd'" 
        (ngModelChange)="taskEndDate = $event" 
        (blur)="checkDate(f,'taskEndDate')"
        name="taskEndDate" 
        required>
    </div>
  </div>
  <button 
    class="btn btn-primary" 
    type="submit" 
    [disabled]="!f.valid">{{btnValue}}</button>
</form>

<hr>
<div *ngIf="show">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Task</th>
        <th scope="col">Priority</th>
        <th scope="col">Parent Task</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Status</th>
        <th scope="col">Comment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let val of addedTask">
        <td>{{val['task']}}</td>
        <td>{{val['priority']}}</td>
        <td>{{val['parentTask']}}</td>
        <td>{{val['startDate']}}</td>
        <td>{{val['endDate']}}</td>
        <td>{{val['status']}}</td>
        <td>{{val['comment']}}</td>
      </tr>
    </tbody>
  </table>
</div>