<form>
  <div class="form-row">
    <div class="col jumbotron">
      <div class="row">
          <label for="searchByTaskName" class="col-sm-2 col-form-label"><h6 style="font-size:0.7rem;">Task</h6></label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="searchByTaskName" placeholder="Enter Task Name">
          </div>
      </div>
      <div class="row">
        <label for="searchByPriorityFrom" class="col-sm-2 col-form-label" style="font-size:8px;"><h6 style="font-size:0.7rem;">Priority From</h6></label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="searchByPriorityFrom" placeholder="Search by Priority">
        </div>
        <label for="searchByPriorityTo" class="col-sm-2 col-form-label"><h6 style="font-size:0.7rem;">Priority To</h6></label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="searchByPriorityTo" placeholder="Search by Priority">
        </div>
      </div>
    </div>
    <div class="col jumbotron">
      <div class="row">
        <label for="searchByParentTask" class="col-sm-2 col-form-label"><h6 style="font-size:0.7rem;">Parent Task</h6></label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="searchByParentTask" placeholder="Enter Parent Task">
        </div>
      </div>
      <div class="col">
        <div class="row">
          <label for="searchByStartDate" class="col-sm-2 col-form-label"><h6 style="font-size:0.7rem;">Start Date</h6></label>
          <div class="col-sm-4">
            <input type="date" class="form-control" id="searchByStartDate" placeholder="Search by Start Date">
          </div>
          <label for="searchByEndDate" class="col-sm-2 col-form-label"><h6 style="font-size:0.7rem;">End Date</h6></label>
          <div class="col-sm-4">
            <input type="date" class="form-control" id="searchByEndDate" placeholder="Search by End Date">
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  
</form>