<form #f="ngForm" style="font-size:0.7rem;">
  <div class="form-row">
    <div class="col">
      <div class="row">
          <label for="searchByTaskName" class="col-sm-2 col-form-label"><h6 style="font-size:0.7rem;">Task</h6></label>
          <div class="col-sm-10">
            <input 
              type="text" 
              class="form-control" 
              id="searchByTaskName" 
              placeholder="Enter Task Name" 
              list="taskname-list"
              (keyup.enter)="filterTaskList(f,'searchByTaskName')"
              (blur)="filterTaskList(f,'searchByTaskName')"
              ngModel
              name="searchByTaskName">
            <datalist id="taskname-list">
              <option value="{{val}}" *ngFor="let val of taskName"></option>
            </datalist>
          </div>
      </div>
      <div class="row">
        <label for="searchByPriorityFrom" class="col-sm-2 col-form-label" ><h6 style="font-size:0.7rem;">Priority From</h6></label>
        <div class="col-sm-4">
          <input 
            type="text" 
            class="form-control" 
            id="searchByPriorityFrom" 
            placeholder="Search by Priority"
            ngModel
            (keyup.enter)="filterTaskList(f,'searchByPriorityFrom')"
            (blur)="filterTaskList(f,'searchByPriorityFrom')"
            name="searchByPriorityFrom">
        </div>
        <label for="searchByPriorityTo" class="col-sm-2 col-form-label"><h6 style="font-size:0.7rem;">Priority To</h6></label>
        <div class="col-sm-4">
          <input 
            type="text" 
            class="form-control" 
            id="searchByPriorityTo" 
            placeholder="Search by Priority"
            ngModel
            (keyup.enter)="filterTaskList(f,'searchByPriorityTo')"
            (blur)="filterTaskList(f,'searchByPriorityTo')"
            name="searchByPriorityTo">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <label for="searchByParentTask" class="col-sm-2 col-form-label"><h6 style="font-size:0.7rem;">Parent Task</h6></label>
        <div class="col-sm-10">
          <input 
            type="text" 
            class="form-control" 
            id="searchByParentTask" 
            placeholder="Enter Parent Task"
            list="parentTask-list"
            (keyup.enter)="filterTaskList(f,searchByParentTask)"
            (blur)="filterTaskList(f,searchByParentTask)"
            ngModel
            name="searchByParentTask">
        </div>
        <datalist id="parentTask-list">
          <option value="{{val}}" *ngFor="let val of parentTask"></option>
        </datalist>
      </div>

      <div class="row">
        <label for="searchByStartDate" class="col-sm-2 col-form-label"><h6 style="font-size:0.7rem;">Start Date</h6></label>
        <div class="col-sm-4">
          <input 
            type="date" 
            class="form-control" 
            (keyup.enter)="filterTaskList(f,searchByStartDate)"
            (blur)="filterTaskList(f,searchByStartDate)"
            ngModel
            name="searchByStartDate">
        </div>
        <label for="searchByEndDate" class="col-sm-2 col-form-label"><h6 style="font-size:0.7rem;">End Date</h6></label>
        <div class="col-sm-4">
          <input 
            type="date" 
            class="form-control" 
            (keyup.enter)="filterTaskList(f,searchByEndDate)"
            (blur)="filterTaskList(f,searchByEndDate)"
            ngModel
            name="searchByEndDate">
        </div>
      </div>

    </div>
  </div>
  <br>
  
</form>